@{
    ViewData["Title"] = "Notfound";
}

<style>

</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center error-pages">
                <h1 class="error-title text-danger"> 404</h1>
                <h2 class="error-sub-title text-dark">404 not found</h2>

                <p class="error-message text-dark text-uppercase">Sorry, An error has occured, Requested page not found!</p>

                <div class="mt-4">
                    <a href="/" class="btn btn-primary btn-round shadow-primary m-1">Go To Home </a>
                    <!--<a href="javascript:void();" class="btn btn-outline-primary btn-round m-1">Previous Page </a>-->
                </div>

                @*<div class="mt-4">
                    <p class="text-dark">Copyright © 2019  <span class="text-primary">Mono Ovens </span>| All rights reserved.</p>
                </div>*@
                <hr class="w-50">
            </div>
        </div>
    </div>
</div>
