@model MonoOvens.Models.StoreGroupMaster

@{
    ViewData["Title"] = "EditStoreGroup";
}

<h2>Edit Store Group</h2>

<hr />
<div class="row">
    <div>
        <span id="nameError" style="color:red"></span>
        <span id="phoneError" style="color:red"></span>
        <p class="form-group text-danger">(*)fields are mandatory</p>
        <form asp-action="EditStoreGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group" style="float:left ; padding-right:50px ">
            <label asp-for="ImporterName" class="control-label">Importer Name:</label><span style="color:red"> *</span>
            <input asp-for="ImporterName" class="form-control" id="iname" required value="Mono" />
            <span asp-validation-for="ImporterName" class="text-danger"></span>
        </div>*@
        <div class="form-group" style=" float:left ; padding-right:100px">
            <label>Importer Name : </label><span style="color:red"> *</span>
            <select asp-for="ImporterName" class="form-control" onblur="check(1)"
                    asp-items="@(new SelectList(@ViewBag.ImporterList, "Id" ,"ImporterName"))" id="iname" required>                
            </select>
            <span asp-validation-for="ImporterName" class="text-danger"></span>
        </div>
            @*<div class="form-group" style="float:left ; padding-right:50px ">
            <label asp-for="DealerName" class="control-label">Dealer Name:</label><span style="color:red"> *</span>
            <input asp-for="DealerName" class="form-control" id="dname" required value="Mono" />
            <span asp-validation-for="DealerName" class="text-danger"></span>
        </div>*@
            <div class="form-group" style=" float:left ; padding-right:100px">
                <label>Dealer Name : </label><span style="color:red"> *</span>
                <select asp-for="DealerName" class="form-control" onblur="check(1)"
                    asp-items="@(new SelectList(@ViewBag.DealerList, "Id" ,"DealerName"))" id="dname" required>                  
            </select>
                <span asp-validation-for="DealerName" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="StoreGroupName" class="control-label">Store Group Name:</label><span style="color:red"> *</span>
                <input asp-for="StoreGroupName" class="form-control" id="sname" required />
                <span asp-validation-for="StoreGroupName" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="StoreGroupPhone" class="control-label">Store Group Phone:</label><span style="color:red"> *</span>
                <input asp-for="StoreGroupPhone" class="form-control" id="phone" required />
                <span asp-validation-for="StoreGroupPhone" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="StoreGroupRegion" class="control-label">Store Group Region:</label><span style="color:red"> *</span>
                <input asp-for="StoreGroupRegion" class="form-control" required />
                <span asp-validation-for="StoreGroupRegion" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="Email" class="control-label">Email:</label><span style="color:red"> *</span>
                <input asp-for="Email" class="form-control" type="email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="Region" class="control-label">Region:</label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="Area" class="control-label">Area:</label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <fieldset style=" float:left ">
                <legend>Head Office Address :</legend>
                <div class="form-group" style=" float:left ; padding-right:50px ">
                    <label>Address Line 1:</label><span style="color:red">*</span>
                    <input asp-for="HOAddress1" class="form-control" required placeholder="Plot no.,Street Name " />
                    <span asp-validation-for="HOAddress1" class="text-danger"></span>
                </div>
                <div class="form-group" style=" float:left ; padding-right:50px">
                    <label>Address Line 2:</label><span style="color:red">*</span>
                    <input asp-for="HOAddress2" class="form-control" required placeholder="Landmark" />
                    <span asp-validation-for="HOAddress2" class="text-danger"></span>
                </div>
                <div class="form-group" style=" float:left ; padding-right:50px ">
                    <label>Address Line 3:</label>
                    <input asp-for="HOAddress3" class="form-control" placeholder="Locality" />
                    <span asp-validation-for="HOAddress3" class="text-danger"></span>
                </div>
                <div class="form-group" style=" float:left ; padding-right:50px">
                    <label>City: </label><span style="color:red">*</span>
                    <input asp-for="City" class="form-control" required id="city" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group" style=" float:left ; padding-right:50px">
                    <label>Post Code: </label><span style="color:red">*</span>
                    <input asp-for="Postcode" class="form-control" required placeholder="WC2N 5DU" />
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="form-group" style=" padding-left:450px  ; clear:left">
                <input type="submit" value="Save" class="btn btn-success" id="subbtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="StoreGroupList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        // to allow only digits to be entered from the user side.
        function Digits(e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#phoneError").html(" **** Only Digits Allowed **** ").show().fadeOut("slow");
                return false;
            }
        }

        // to allow only charactors to be entered from the user side .
        function Charactors(e) {
            var key = e.keyCode;
            if (!((key == 8) || (key == 9) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90) || (key >= 97 && key <= 122))) {
                e.preventDefault();
                $("#nameError").html(" **** Only Charactors Allowed **** ").show().fadeOut("slow");
            }
        }
        $(document).ready(function () {
            $("#phone").keypress(function (e) {
                return Digits(e);
            });
            $("#iname").keypress(function (e) {
                Charactors(e);
            });
            $("#dname").keypress(function (e) {
                Charactors(e);
            });
            $("#sname").keypress(function (e) {
                Charactors(e);
            });

        });
    </script>
}
