@model IEnumerable<MonoOvens.Models.StoreGroupMaster>

@{
    ViewData["Title"] = "StoreGroups List";
}

<h2>Store Groups</h2>

<p>
    <a asp-action="CreateStoreGroup">Create New</a>
</p>
<table style="width:100%!important" class="table  table-bordered" id="storeGroupsTable">
    <thead>
    <th>
        Id
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.ImporterName)*@    Importer Name
    </th>
    <th>
        Dealer Name
    </th>
    <th>
        StoreGroup Name
    </th>
    <th>
        Phone Number
    </th>
    <th>
        StoreGroup Region
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Region)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Area)
    </th>
    <th>        
        Head-Office
    </th>
    <th></th>
    </tr>
    </thead>

</table>

@section Scripts{

    <script language="javascript" type="text/javascript">
        var storeGroupsTable;

        function EditbyAdmin(id) {

            window.location.href = "/StoreGroup/EditStoreGroup/" + id;
        }

        function confirmDelete(callback) {
            bootbox.confirm({
                message: "<h3>Are you sure, You want to delete this record...!!</h3>",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) callback();
                }
            });

        }

        function deleteSelectedItem(Id) {

            confirmDelete(function () {

                //var data = customersTable.rows({ selected: true }).data();
                $.ajax({
                    type: "GET",
                    url: "/StoreGroup/Delete",
                    data: { Id: Id },
                    success: function (data) {

                        storeGroupsTable.draw(true);
                        // toggleActionButtons(false);
                        //  document.location.reload(true);
                    }

                }).fail(function (error) {
                    alert(error.statusText);
                    console.log(error);
                })
            });

        }

        $(document).ready(function () {
            //toggleActionButtons(false);

            storeGroupsTable = $('#storeGroupsTable').DataTable({
                select: {
                    style: 'single'
                },
                //"order": [[3, "desc"]],
                "ordering": true, searching: true,                                   // make ordering false to getting the last out put as first.
                responsive: true, "bProcessing": true,
                "bServerSide": true,                                                   // paging
                "sAjaxSource": '/StoreGroup/StoreGroupAjaxDataProvider',
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-primary btn-link"   id="' + data.id + '" data-toggle="tooltip" title="" data-original-title="Edit Detail" onclick="EditbyAdmin(`' + data.id + '`)">Edit</a> | <a class="btn btn-danger btn-link"   id="' + data.id + '" data-toggle="tooltip" title="" data-original-title="View Detail" onclick="deleteSelectedItem(`' + data.id + '`)">Delete</a>'
                        },
                        "targets": 10
                    }
                ],
                "columns": [

                    { "data": "id" },
                    //{ "data": "importerName" },
                    //{ "data": "dealerName" },
                    
                    { "data": "impName" },
                    { "data": "dlrName" },
                    { "data": "storeGroupName" },
                    { "data": "storeGroupPhone" },
                    { "data": "storeGroupRegion" },
                    { "data": "email" },
                    { "data": "region" },
                    { "data": "area" },
                    {
                        "data": "hOAddress1",
                        "render": function (data, type, row) {
                    return row.hoAddress1 + '&nbsp;' + row.hoAddress2  + '&nbsp;' + row.hoAddress3  + '&nbsp;' + row.city   +'&nbsp;' + row.postcode
                        }
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "data": null
                    }
                ]

            });
            $('#storeGroupsTable tbody').on('click', 'tr', function () {
                setTimeout(function () {
                    var selectedCount = storeGroupsTable.rows({ selected: true }).count();
                    // toggleActionButtons(selectedCount > 0);
                }, 100)
            });
        });
    </script>
}