@model MonoOvens.Models.CustomerMaster

@{
    ViewData["Title"] = "Create";
}

<h2>Add Customer</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateCustomer" align="center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" required placeholder="Alex Perry" id="cliname" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="PrimaryEmail" class="control-label"></label>
                <input asp-for="PrimaryEmail" class="form-control" type="email" required placeholder="Alex@gmail.com" />
                <span asp-validation-for="PrimaryEmail" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px ; clear:left">
                <label asp-for="PrimaryContactName" class="control-label"></label>
                <input asp-for="PrimaryContactName" class="form-control" placeholder="Smith" id="cname" required />
                <span asp-validation-for="PrimaryContactName" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="PrimaryContactNumber" class="control-label"></label>
                <input asp-for="PrimaryContactNumber" class="form-control" placeholder="+44 7911 123456" required id="cnum" />
                <span asp-validation-for="PrimaryContactNumber" class="text-danger" id="phoneError"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="HOAddress1" class="control-label"></label>
                <input asp-for="HOAddress1" class="form-control" required placeholder="Plot no.,Street Name " />
                <span asp-validation-for="HOAddress1" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="HOAddress2" class="control-label"></label>
                <input asp-for="HOAddress2" class="form-control" required placeholder="Landmark" />
                <span asp-validation-for="HOAddress2" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px ; clear:left">
                <label asp-for="HOAddress3" class="control-label"></label>
                <input asp-for="HOAddress3" class="form-control" placeholder="Locality" />
                <span asp-validation-for="HOAddress3" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" required id="city" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" required placeholder="WC2N 5DU" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="Zone" class="control-label"></label>
                <select asp-for="Zone" class="form-control" required>
                    <option value="">--select--</option>
                    <option value="Zone South">Zone South</option>
                    <option value="Supermarket Central">Supermarket Central</option>
                    <option value="Supermarket North">Supermarket North</option>
                    <option value="Supermarket South">Supermarket South</option>
                    <option value="Supermarket West">Supermarket West</option>
                </select>
                <span asp-validation-for="Zone" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px ; clear:left">
                <label asp-for="Region" class="control-label"></label>
                <select asp-for="Region" class="form-control" required>
                    <option value="">--select--</option>
                    <option value="71">71</option>
                    <option value="C01">C01</option>
                    <option value="C02">C02</option>
                    <option value="C03">C03</option>
                    <option value="C04">C04</option>
                </select>
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" required id="area" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px ; clear:left">
                <label asp-for="StoreCode" class="control-label"></label>
                <input asp-for="StoreCode" class="form-control" placeholder="PLO0100" required />
                <span asp-validation-for="StoreCode" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" required>
                    <option value="">--select--</option>
                    <option value="Convenience">Convenience</option>
                    <option value="Supermarket">Supermarket</option>
                    <option value="OFC">OFC</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="StoreName" class="control-label"></label>
                <input asp-for="StoreName" class="form-control" id="sname" required />
                <span asp-validation-for="StoreName" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="StoreAddress1" class="control-label"></label>
                <input asp-for="StoreAddress1" class="form-control" required />
                <span asp-validation-for="StoreAddress1" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="StoreAddress2" class="control-label"></label>
                <input asp-for="StoreAddress2" class="form-control" />
                <span asp-validation-for="StoreAddress2" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="PostTown" class="control-label"></label>
                <input asp-for="PostTown" class="form-control" required />
                <span asp-validation-for="PostTown" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:50px">
                <label asp-for="StorePostcode" class="control-label"></label>
                <input asp-for="StorePostcode" class="form-control" placeholder="GT DFG3" />
                <span asp-validation-for="StorePostcode" class="text-danger"></span>
            </div>

            <div class="form-group" style="float:left;clear:left">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CustomersList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
      function Digits(e) {
           if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
              //display error message
              $("#phoneError").html("Only Digits Allowed").show().fadeOut("slow");
               return false;
           }
       }
       // to allow only charactors to be entered from the user side . 
       function Charactors(e) {
            var key = e.keyCode;
            if (!((key == 8) ||  (key == 9) ||  (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                e.preventDefault();
            }
       }
       $(document).ready(function () {
           $("#cnum").keypress(function(e)
           {
               return Digits(e);
           });
            $("#cliname").keydown(function(e)
           {
               Charactors(e);
            });
            $("#cname").keydown(function(e)
           {
               Charactors(e);
            });
           $("#city").keydown(function(e)
           {
               Charactors(e);
           });
           $("#area").keydown(function(e)
           {
               Charactors(e);
           });
           $("#sname").keydown(function(e)
           {
               Charactors(e);
           });
          
         });
    </script>

}
