@model MonoOvens.Models.UserMaster

@{
    ViewData["Title"] = "Create";
}



<h4>Add User</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="name" required/>
                <span asp-validation-for="Name" class="text-danger" id="nameError"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" required/>
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" required>
                    <option>--select--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ; clear:left ">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" required />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"  type="email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            

            <div class="form-group" style="float:left ; padding-right:50px ">
                <label>Access Role</label>
                <select asp-for="RollId" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.AccessRoles , "Id" , "Name"))" required>                   
                </select>
                <span asp-validation-for="RollId" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px  ; clear:left">
                <label asp-for="AddressLine1" class="control-label"></label>
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="AddressLine2" class="control-label"></label>
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:50px ">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" pattern="[a-zA-Z][a-zA-Z\s]+$" id="city" />
                <span asp-validation-for="City" class="text-danger" id="cityError"></span>
            </div>
            <div class="form-group" style=" padding-left:450px  ; clear:left">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
     function Charactors(e,n) {
            var key = e.keyCode;
            if (!((key == 8) ||  (key == 9) ||  (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90)  || e.shiftKey  ) ) {
                e.preventDefault();
                if (n == 1) {
                    $("#nameError").html("Only Charactors Allowed").show().fadeOut("slow");
                }
                else {
                    $("#cityError").html("Only Charactors Allowed").show().fadeOut("slow");
                }
                
            }
       }
    $(document).ready(function () {
        $("#name").keydown(function (e) {
            Charactors(e , 1);
        });
        $("#city").keydown(function (e) {
            Charactors(e , 2);
        });
    });
</script> 
  
}
