@model IEnumerable<MonoOvens.Models.UserMaster>

@{
    ViewData["Title"] = "UsersList";
}

<h2>Users</h2>

<p>
    <a asp-action="CreateUser">Create New</a>
</p>
<table style="width:100%!important" class="table  table-bordered" id="usersTable">
    <thead>
        <tr>
          
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                AccessRole
            </th>

            <th></th>
        </tr>
    </thead>

</table>

@section Scripts{

    <script language="javascript" type="text/javascript">
        var usersTable;

        function EditUserbyAdmin(id) {
            
            window.location.href = "/User/EditUser/" + id;
        }

        function confirmDelete(callback) {
            bootbox.confirm({
                message: "<h3>Are you sure, You want to delete this record...!!</h3>",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) callback();
                }
            });

        }

        function deleteSelectedItem(Id) {
  
            confirmDelete(function () {

                //var data = customersTable.rows({ selected: true }).data();
                $.ajax({
                    type: "GET",
                    url: "/User/Delete",
                    data: { Id: Id },
                    success: function (data) {

                        usersTable.draw(true);
                        // toggleActionButtons(false);
                        //  document.location.reload(true);
                    }

                }).fail(function (error) {
                    alert(error.statusText);
                    console.log(error);
                })
            });

        }

        $(document).ready(function () {
            //toggleActionButtons(false);

            usersTable = $('#usersTable').DataTable({
                select: {
                    style: 'single'
                },
                //"order": [[3, "desc"]],
                "ordering": true, searching: true,                                   // make ordering false to getting the last out put as first.
                responsive: true, "bProcessing": true,
                "bServerSide": true,                                                   // paging
                "sAjaxSource": '/User/UserAjaxDataProvider',
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "render": function (data, type, row) {
    return '<a class="btn btn-primary btn-link"   id="' + data.id + '" data-toggle="tooltip" title="" data-original-title="Edit Detail" onclick="EditUserbyAdmin(`' + data.id + '`)">edit</a> | <a class="btn btn-danger btn-link"   id="' + data.id + '" data-toggle="tooltip" title="" data-original-title="View Detail" onclick="deleteSelectedItem(`' + data.id + '`)">delete</a>'
   // return '<a href="/User/EditUser/' + data.id + '"  >Edit</a> <a href="/User/UserDetails/' + data.id + '" >Details</a>  <a class="btn btn-danger btn-link" onclick="deleteSelectedItem(' + data.id + ')">delete</a>'
  //  return '<a class="btn btn-danger btn-link"   id="' + data.id + '" data-toggle="tooltip" title="" data-original-title="View Detail" onclick="deleteSelectedItem(' + data.id + ')"><span class="glyphicon glyphicon-trash"></span></a>'
                        },
                        "targets": 4
                    }
                ],
                "columns": [
                   
                    { "data": "id" },
                    
                    {
                        "data": "name"
                        
                    },
                    { "data": "email" },
                    { "data": "role" },
                    {
                        "orderable": false,
                        "searchable": false,
                        "data": null
                    }
                ]
            });
            $('#usersTable tbody').on('click', 'tr', function () {
                setTimeout(function () {
                    var selectedCount = usersTable.rows({ selected: true }).count();
                    // toggleActionButtons(selectedCount > 0);
                }, 100)
            });
        });
    </script>
}